<%= link_to gravatar_img(current_user.gravatar_id, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to 'view my profile', current_user %></span>
<span><%= pluralize(current_user.microposts.count, 'micropost') %></span>